# Dependencies
node_modules/
venv/
.env
.env.local

# Build outputs
dist/
build/

# Project Specific
backend/uploads/*
!backend/uploads/.gitkeep
backend/rhubarb/
backend/demo_assets/
backend/Wav2Lip/checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
env/
ENV/
env.bak/
venv.bak/

# Logs and databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.sqlite

# OS related
.DS_Store
Thumbs.db

# Generated Assets
*.mp4
*.wav
*.json
temp_frames/
frame_*.png
